@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }

  @keyframes marquee {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 1200px) {
    @keyframes marquee {
      0% {
        transform: translateX(150%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }

  @media (max-width: 800px) {
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }

  @media (max-width: 640px) {
    @keyframes marquee {
      0% {
        transform: translateX(50%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }

  .marquee {
    overflow: hidden;
    white-space: nowrap;
  }

  .marquee-text {
    display: inline-block;
    animation: marquee 20s linear infinite;
    animation-play-state: running;
  }

  .marquee-text:hover {
    animation-play-state: paused;
  }
}